<div class="jumbotron">
  <div class="container text-center">
    <h1>Eat Da Burgerz!</h1>
    <p>Add a burger you are craving, then devour it! YUM!</p>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-4 text-center">
    {{> burgers/to-eat}}
  </div>
  <div class="col-md-4 text-center">
    {{> burgers/eaten-burger}}
  </div>
  <div class="col-md-2">
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    {{> burgers/add-burger}}
  </div>
</div>
